<div>
  <ion-item>
    <!-- <ion-label>UserName</ion-label>   -->
    <ion-input  placeholder="UserName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password"></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Password Again</ion-label> -->
    <ion-input  placeholder="Password Again"></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Phone Number</ion-label> -->
    <ion-input  placeholder="Phone Number"></ion-input>
    <ion-button color="primary" (click)="triggerOTP()">OTP</ion-button>
  </ion-item>
  <ion-item>
    <!-- <ion-label>OTP</ion-label> -->
    <ion-input  placeholder="OTP"></ion-input> 
  </ion-item>
</div>