<!-- <img slot="bottom" src='assets/pic/background-sea.jpeg'> -->
<div class = 'daddy_justify_align'>

<ion-tabs class= 'login_panel'> 

  <ion-tab-bar class='tab_bar' slot="bottom">
    <ion-tab-button tab="login">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="regist">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Regist</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

</div>